{% extends "compras/base_compras.html" %}
{% block title %}Formulario de Producto{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow max-w-2xl mx-auto">
    <h2 class="text-2xl font-semibold mb-6 text-green-800">Registrar / Editar Producto</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-6 flex justify-end">
            <a href="{% url 'compras:lista_productos' %}" 
               class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg mr-2">
               Cancelar
            </a>
            <button type="submit" class="bg-green-700 hover:bg-green-800 text-white px-4 py-2 rounded-lg">
                Guardar
            </button>
        </div>
    </form>
</div>
{% endblock %}
